@use "./assets/sass/reset" as *;
@use "./assets/sass/mixins" as *;

.app {
  &__container {
    @include container;
    max-width: 500px;
    margin: 5rem auto;
    border: 1px solid;
  }
}

.daily-weather {
  margin: 1rem 0;
  border: 1px solid green;
}
