@use "./assets/sass/reset" as *;
@use "./assets/sass/mixins" as *;
@use "./assets/sass/variables" as *;
@use "./assets/sass/base" as *;

.app {
  &__bg--morning {
    background-color: #50b7fc;
  }

  &__bg--afternoon {
    // background-color: #f7b801;
    background-color: #fc9753;
  }

  &__bg--evening {
    background-color: #a0261d;
  }

  &__container {
    @include container;
    max-width: 500px;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 5rem;
  }
}
